<h1 style="font-family: Desdemona; font-size: 46px; color: rgb(255, 184, 0);">wearsArtist</h1>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
  <tr>
    <td class="tg-031e"><img src="http://fabrik.la/wp-content/uploads/2013/01/The-LA-Art-Show-02.jpg" style="width: 300px; height: 250px;"></td>
    <td class="tg-yw4l"><img src="http://www.ucira.ucsb.edu/wp-content/files_flutter/1350331757la-et-cm-street-art-bonhams-auction-20121010-001.jpeg" style="width: 300px; height: 250px;"></td>
    <td class="tg-yw4l"><img src="http://www.brooklynstreetart.com/theblog/wp-content/uploads/2011/05/brooklyn-street-art-dface-jaime-rojo-corey-helford-gallery-los-angeles-04-11-2-web.jpg" style="width: 300px; height: 250px;"></td>
  </tr>
  <tr>
    <td class="tg-yw4l"><img src="http://lastreetartgallery.com/wp-content/uploads/2015/04/thamer.jpg" style="width: 300px; height: 250px;"></td>
    <td class="tg-yw4l"><img src="http://iyftc1oqf704bytwz45ub151.wpengine.netdna-cdn.com/wp-content/uploads/2013/06/KOBRA-RUSHMORE.jpg" style="width: 300px; height: 250px;"></td>
    <td class="tg-yw4l"><img src="http://wanderingtrader.com/wp-content/uploads/2013/04/la-robot-de-madera-y-charquipunk-valparaiso-1000x618.jpg" style="width: 300px; height: 250px;"></td>
  </tr>
  <tr>
    <td class="tg-yw4l"><img src="http://www.fubiz.net/wp-content/uploads/2015/10/sagmeister-3-900x585.jpg" style="width: 300px; height: 250px;"></td>
    <td class="tg-yw4l"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSCaaXO3AV0kTrOmecHi1_JUp-lEP3yRCDHpbBllmJA_RmP_-jE0A" style="width: 300px; height: 250px;"></td>
    <td class="tg-yw4l"><img src="http://groupon.s3.amazonaws.com/sponsorship-imgs/Goods/Celebrity%20Canvas%20Prints/638211900019_Celebrity_Canvas_Print__Jimi_Hendrix_Paint.jpg" style="width: 300px; height: 250px;"></td>
  </tr>
</table>
